Checks: >
  -*,
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  concurrency-*,
  misc-*,
  performance-*,
  portability-*,
  readability-*,
  modernize-*,
  -readability-identifier-length
  -readability-magic-numbers,
  -modernize-use-trailing-return-type,
WarningsAsErrors: ''
HeaderFilterRegex: 'src'
FormatStyle: none
